[Unit]
Description=AluminatiLidar service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/sh /home/pi/AluminatiLidar/AluminatiLidar.sh
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
